<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include 'header_admin.html' %}
    {% include 'modal_confirmacao.html' %}
    {% load bootstrap5 %}
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            {% include 'sidebar.html' %}
            <main class="col d-flex py-3">
                <div class="container">
                    <h3>Atividades</h3>
                    <div class="row align-items-center mt-2 mb-2">
                        <div class="col p-0">
                            <form method="get" class="p-0 m-0" action="{% url 'adminAtividade' %}">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary me-2">Buscar</button>
                                    </div>
                                    <input type="text" class="form-control" name="filter" placeholder="Tópico">
                                    <div class="col-auto ps-2">
                                        <select class="form-select" name="event" id="event">
                                            <option value="-1" selected>Todos Atividades</option>
                                            {% for atividade in atividades %}
                                                <option value="{{ atividade.id }}">{{ atividade.tema|slice:"0:30" }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-auto ps-2">
                                        <select class="form-select" name="filter_by" id="filter_by">
                                            <option value="id" selected>Minhas Atividades</option>
                                            <option value="all">Todas Atividades</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-auto p-0 ps-2 d-flex justify-content-end">
                            <a type="button" class="btn btn-success" href="cadastrar">Nova</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive border" style="height: 20em; overflow-y: auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tópico</th>
                                        <th>Operações</th>
                                        <th>Visualizar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for atividade in atividades %}
                                    <tr>
                                        <td>{{ atividade.id }}</td>
                                        <td>{{ atividade.topico }}</td>
                                        <td>
                                            <button type="button"
                                                    class="btn btn-danger"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#confirmDeleteModal"
                                                    data-model="atividade"
                                                    alt="Apagar"
                                                    data-id="{{ atividade.id }}">
                                                    <i class="bi bi-trash"></i>
                                            </button>
                                            <a href="{% url 'adminEditarAtividade' pk=atividade.id %}" class="btn btn-warning" alt="Editar">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'adminVisualizarAtividade' pk=atividade.id %}" class="btn btn-success" alt="Visualizar">
                                                <i class="bi bi-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
</html>
