<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="/admin_checkin" class="nav-link align-middle px-0">
                    <i class="fs-4 bi bi-book"></i> <span class="ms-1 d-none d-sm-inline">Validar Presença</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin_evento" class="nav-link align-middle px-0">
                    <i class="fs-4 bi bi-card-heading"></i> <span class="ms-1 d-none d-sm-inline">Evento</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="/admin_professores" class="nav-link align-middle px-0">
                    <i class="fs-4 bi bi-person-check"></i> <span class="ms-1 d-none d-sm-inline">Professor</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin_aluno" class="nav-link align-middle px-0">
                    <i class="fs-4 bi bi-person-check"></i> <span class="ms-1 d-none d-sm-inline">Aluno</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin_participante" class="nav-link align-middle px-0">
                    <i class="fs-4 bi bi-person-check"></i> <span class="ms-1 d-none d-sm-inline">Participante</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin_exibicao" class="nav-link align-middle px-0">
                    <i class="fs-4 bi bi-easel"></i> <span class="ms-1 d-none d-sm-inline">Exibição</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin_certificados" class="nav-link align-middle px-0">
                    <i class="fs-4 bi bi-patch-check"></i> <span class="ms-1 d-none d-sm-inline">Gerar Certificado</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/logout" class="nav-link align-middle px-0 mt-5">
                    <i class="fs-4 bi bi-box-arrow-right"></i> <span class="ms-1 d-none d-sm-inline">Sair</span>
                </a>
            </li>
        </ul>
    </div>
</div>